.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
a {
    text-decoration: none;
    font-weight: 900;
    background-color: rgb(24, 24, 107);
    color: white;
    padding: 15px;
    border-radius: 8%;
}
